/* @import '~antd/lib/table/style/index.css'; */
/* @import '~antd/dist/antd.css'; */
@import '~antd/lib/list/style/index.css';

.ant-table{
    color: white;
    font-size: 12px;
    line-height: 0.6;
}
.ant-table-thead{line-height: 0.9;}
.ant-table-small{border: none;}
.ant-table table {
    /* width: 100%; */
    /* border-collapse: collapse; */
    text-align: center;
    /* border-radius: 4px 4px 0 0; */
}
.ant-table-small.ant-table-bordered .ant-table-content {
    border-right: none;
}
.ant-table-thead > tr > th {
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    text-align: center;
    color: #ffffffd9;
    font-weight: 500;
    font-size: 14px;
    /* border-bottom: 1px solid #e8e8e8; */
}
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th,
.ant-table-bordered .ant-table-thead > tr > th, 
.ant-table-bordered .ant-table-tbody > tr > td {
    /* border-right: 1px solid #e8e8e8; */
    border-radius: 5px;
    border: solid 2px #ffffff40;
}
.ant-table-small.ant-table-bordered .ant-table-thead > tr > th:last-child, 
.ant-table-small.ant-table-bordered .ant-table-tbody > tr > td:last-child {
    border-right: solid 2px #ffffff40;
}
.ant-table-small > .ant-table-content .ant-table-row:last-child td{border-bottom:solid 2px #ffffff40;}
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th{
    background-color: #101638;
}
/* .ant-table-bordered .ant-table-tbody > tr:hover{background: rgb(199, 230, 228)} */
tbody>tr:hover{cursor: pointer;background: rgb(11, 8, 20);}



/* list 样式 */
.ant-list-split .ant-list-item{
    border-bottom:none;
}
.light{
    background: #ffffff1a;
}